:root {
    --theme-c01: #582c83;
    --theme-c02: #0057b7;
    --theme-c03: #37de00;
    --theme-c04: #fff200;
    --theme-c05: #fe5000;
    --theme-c06: #ffffff;
    --theme-c07: #666666;
    --theme-c08: #211e16;
}

body {
    background: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.textWhite {
    color: var(--theme-c06);
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--theme-c01);
    box-shadow: 0 2px 3px 0px var(--theme-c08);
}

.imgNav {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8%;
}

.imgNav > img {
    width: 70%;
}

.articleConteiner  {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articleConteiner > span {
    font-size: 10vw;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.fondoArt1 {
    background: url('./assets/fondo-1.jpg');
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondoArt2 { 
    background: url('./assets/fondo-2.jpg'); 
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoArt3 { 
    background: url('./assets/fondo-3.jpg'); 
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoArt4 { 
    background: url('./assets/fondo-4.jpg'); 
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoArt5 { 
    background: url('./assets/fondo-5.jpg'); 
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoArt6 { 
    background: url('./assets/fondo-6.jpg'); 
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.textImageBackground {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textGradiant {
    background: linear-gradient( to right, var(--theme-c02), var(--theme-c07));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textTrasparent > span {
    padding: 20px;
    background: white;
    color: black;
    mix-blend-mode: screen;
}
